:root {
    --white-color: white;
    --gray-color:rgb(42, 42, 42);
    --light-gray-color: rgb(126, 126, 126);
}

.gray {
    color: var(--light-gray-color);
}


.container{
    background-color: var(--gray-color);
    color: var(--white-color);
    padding: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 15px black;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
}


.clock-value {
    font-size: 40px;
}


.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}